{{ $fileType := .Get 0 }}
{{ $src := .Get 1 }}
{{ $figNum := .Get 2 }}
{{ $title := .Get 3 }}
{{ $width := .Get 4 }}
{{ $height := .Get 5 }}

<figure>
    {{ if eq $fileType "img" }}
        <img src="{{ $src }}" width="{{ $width }}" height="{{ $height }}" title="{{ $title }}" alt="{{ $title }}">
    {{ else if eq $fileType "video" }}
        <video src="{{ $src }}" width="{{ $width }}" height="{{ $height }}" autoplay controls loop title="{{ $title }}"></video>
    {{ end }}
    <figcaption style="font-size: 16px"><b>{{ $figNum }}</b> {{ $title }}</figcaption>
</figure>