{{ $fileType := .Get 0 }}
{{ $src := .Get 1 }}
{{ $figName := .Get 2 }}
{{ $description := .Get 3 }}
{{ $width := .Get 4 }}
{{ $height := .Get 5 }}
{{ $floatCond := .Get 6 }}
{{ $addCaption := .Get 7 }}

<figure>
    {{ if eq $fileType "img" }}
        <img src="{{ $src }}" title="{{ $description }}" alt="{{ $description }}" width="{{ $width }}"
             height="{{ $height }}" style="float: {{ $floatCond }}; border-radius: 15px;
             box-shadow: 0 0 15px 3px rgba(115,115,115,0.25); margin-right: 5px">
    {{ else if eq $fileType "video" }}
        <video src="{{ $src }}" controls title="{{ $description }}" width="{{ $width }}"
               height="{{ $height }}" style="float: {{ $floatCond }}"></video>
    {{ end }}
    {{ if eq $addCaption "True" }}
        <figcaption style="font-size: 16px"><b>{{ $figName }}</b> {{ $description }}</figcaption>
    {{ end }}
</figure>